<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content=
		"width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		name="viewport">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<link href=
		"https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Teko:wght@300&display=swap"
		rel="stylesheet">
		<script src="/src/templates/script.js">
		</script>
		<link href="/build/images/favicon.ico" rel="icon" type="image/png">
		<title>
			DuckCoders
		</title>
	</head>
	<body>
		<div class="loading visible">
			<div class="content">
				<p>
					Loading
				</p>
			</div>
		</div>
		<div class="container">
			<canvas height="720" id="canvas" width="768"></canvas>
			<div class="volume">
				<i class="fas fa-volume-down"></i> 
        <i class="fas fa-volume-up"></i>
				<i class="fas fa-volume-mute"></i>
			</div>
		</div>
	</body>
</html>